[defaults]
vault_identity_list = euic@vault-client.sh, password@vault-client.sh
vault_identity = password
vault_id_match = True

roles_path = ./roles

interpreter_python = auto_silent

[ssh_connection]
pipelining = true
